body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}



/*Page Header*/
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 120px;
  transition: min-height 0.3s;
}
.page-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page-header-logo {
  vertical-align: top;
  height: 60px;
  margin-right: 5em;
  margin-top: 15px;
    display: block;
float: left;
}

.page-header-title{
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  margin: 1em 1em;
  display: inline-block;
  color: #2d3c49;

}

/*Navigation bar*/

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.nav-item {
  box-sizing: border-box;
    display: inline-block;
    width: 20%;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
}

.nav-bar a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
}

.project-content img {
  width: 250px;
  height: 200px;
    float: left;
    margin: 3px;
    padding: 3px;
  display: block;

}

section {
  margin: 3px;
    padding: 3px;
}
h3{
  margin: 3px;
    padding: 3px;
}
h4{
    margin: 3px;
    padding: 3px;
}

/**/